[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.10.0"
networkx = "*"
pytest = "==6.0.1"
pytest-asyncio = "==0.14.0"
pytest-click = "*"
pytest-dependency = "*"
pytest-recording = "==0.3.6"
sphinx = "*"
aiokraken = {editable = true,path = "."}

[packages]
aiodns = "==2.0.0"
aiohttp = "==3.6.2"
aioresponses = "*"
aiounittest = "*"
async-property = "*"
bokeh = "==2.0.2"
cchardet = "==2.1.4"
click = "*"
dpcontracts = "*"
hypothesis = "==5.6.0"
ipykernel = "*"
ipympl = "==0.3.3"
ipython = "*"
marshmallow = "==3.3.0"
marshmallow-dataframe = "==0.1.4"
mplfinance = "*"
mypy = "*"
pandas = "==1.0.3"
pandas-ta = "==0.1.36b"
parameterized = "==0.7.0"
result = "*"
tinydb = "*"
tornado = "*"
timecontrol = {git = "https://github.com/asmodehn/timecontrol"}
wrapt = {git = "https://github.com/GrahamDumpleton/wrapt"}

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8"
