[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-recording = "==0.3.6"    # 0.3.4 is breaking on --block-network it seems
pytest-asyncio = "==0.10.0"
pytest-dependency = "*"
black = "*"
pytest-click = "*"
# better to have this here to sync venv between jupyter and custom editor behaviors
aiokraken = {path = ".",editable = true}
sphinx = "*"
networkx = "*"

[packages]
bokeh-ta = {editable = true, path = "./../bokeh_ta"}
livebokeh = {editable = true, path = "../livebokeh"}
aiohttp = "==3.6.2"
aiodns = "==2.0.0"
cchardet = "==2.1.4"
pytest = "==5.3.2"
marshmallow = "==3.3.0"
pandas = "==1.0.3"
parameterized = "==0.7.0"
marshmallow-dataframe = "==0.1.4"
ipympl = "==0.3.3"
pandas-ta = "==0.1.36b"
pyjanitor = "*"
hypothesis = "==5.6.0"
mypy = "*"
aiounittest = "*"
tinydb = "*"
ipython = "*"
click = "*"
dpcontracts = "*"
result = "*"
typeclasses = "*"
aioresponses = "*"
mplfinance = "*"
#because we need the latest, at least 1.12.2
wrapt = {git = "https://github.com/GrahamDumpleton/wrapt"}
bokeh = "==2.0.2"
ipykernel = "*"
async-property = "*"
tornado = "*"
aiostream = "*"
# because we need latest unreleased version
timecontrol = {git = "https://github.com/asmodehn/timecontrol"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
