interactions:
- request:
    body:
      pair: XBTEUR
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["7214.30000","1","1.000"],"b":["7214.20000","4","4.000"],"c":["7214.20000","0.00200000"],"v":["419.90433302","4206.13168828"],"p":["7203.78543","7253.88639"],"t":[2207,19500],"l":["7181.00000","7161.60000"],"h":["7225.80000","7400.00000"],"o":"7225.80000"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Ticker
- request:
    body:
      expiretm: '+15'
      nonce: 1571296310858
      ordertype: limit
      pair: XBTEUR
      price: '10821.4'
      type: sell
      volume: '0.01'
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"sell 0.01000000 XBTEUR @ limit
        10821.4"},"txid":["OQJUIE-TTHJZ-3ULWCE"]}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
- request:
    body:
      nonce: 1571296311324
      trades: false
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{"OQJUIE-TTHJZ-3ULWCE":{"refid":null,"userref":0,"status":"open","opentm":1571296311.0643,"starttm":0,"expiretm":1571296326,"descr":{"pair":"XBTEUR","type":"sell","ordertype":"limit","price":"10821.4","price2":"0","leverage":"none","order":"sell
        0.01000000 XBTEUR @ limit 10821.4","close":""},"vol":"0.01000000","vol_exec":"0.00000000","cost":"0.00000","fee":"0.00000","price":"0.00000","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/OpenOrders
version: 1
