interactions:
- request:
    body:
      pair: XBTEUR
    headers:
    method: POST
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["7553.40000","1","1.000"],"b":["7553.30000","4","4.000"],"c":["7553.40000","0.02358459"],"v":["1549.69573155","2770.31846284"],"p":["7555.07313","7554.11282"],"t":[7375,14611],"l":["7506.80000","7470.00000"],"h":["7647.90000","7647.90000"],"o":"7576.10000"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Ticker
- request:
    body:
      expiretm: '+15'
      nonce: 1571150298683
      ordertype: limit
      pair: XBTEUR
      price: '11330.1'
      type: sell
      volume: '0.01'
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"sell 0.01000000 XBTEUR @ limit
        11330.1"},"txid":["O4MDUM-JVFYH-AYGMNZ"]}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
- request:
    body:
      nonce: 1571150298943
      trades: false
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{"O4MDUM-JVFYH-AYGMNZ":{"refid":null,"userref":0,"status":"open","opentm":1571150298.798,"starttm":0,"expiretm":1571150313,"descr":{"pair":"XBTEUR","type":"sell","ordertype":"limit","price":"11330.1","price2":"0","leverage":"none","order":"sell
        0.01000000 XBTEUR @ limit 11330.1","close":""},"vol":"0.01000000","vol_exec":"0.00000000","cost":"0.00000","fee":"0.00000","price":"0.00000","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/OpenOrders
version: 1
