interactions:
- request:
    body:
      pair: XBTEUR
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["7586.00000","5","5.000"],"b":["7585.70000","1","1.000"],"c":["7586.00000","0.01646000"],"v":["161.66954165","1020.50642187"],"p":["7566.35730","7569.29760"],"t":[2444,9134],"l":["7524.60000","7524.60000"],"h":["7589.00000","7629.80000"],"o":"7532.90000"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Ticker
- request:
    body:
      expiretm: '+15'
      nonce: 1570961725032
      ordertype: limit
      pair: XBTEUR
      price: '3792.8'
      type: buy
      volume: '0.01'
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"buy 0.01000000 XBTEUR @ limit
        3792.8"},"txid":["O6FH4F-QKEVM-GUZB3I"]}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
version: 1
