interactions:
- request:
    body:
      pair: XBTEUR
    headers:
    method: POST
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["7562.50000","1","1.000"],"b":["7561.60000","1","1.000"],"c":["7561.00000","0.01210004"],"v":["1477.50736707","2788.15566314"],"p":["7554.63497","7552.93522"],"t":[6914,14686],"l":["7506.80000","7470.00000"],"h":["7647.90000","7647.90000"],"o":"7576.10000"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Ticker
- request:
    body:
      expiretm: '+15'
      nonce: 1571147557698
      ordertype: limit
      pair: XBTEUR
      price: '11342.4'
      type: sell
      volume: '0.01'
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"sell 0.01000000 XBTEUR @ limit
        11342.4"},"txid":["O3AGK4-NGLJR-MMBQVY"]}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
version: 1
