interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.kraken.com/0/public/Assets
  response:
    body:
      string: '{"error":[],"result":{"ADA":{"aclass":"currency","altname":"ADA","decimals":8,"display_decimals":6},"ALGO":{"aclass":"currency","altname":"ALGO","decimals":8,"display_decimals":5},"ATOM":{"aclass":"currency","altname":"ATOM","decimals":8,"display_decimals":6},"BAT":{"aclass":"currency","altname":"BAT","decimals":10,"display_decimals":5},"BCH":{"aclass":"currency","altname":"BCH","decimals":10,"display_decimals":5},"BSV":{"aclass":"currency","altname":"BSV","decimals":10,"display_decimals":5},"CHF":{"aclass":"currency","altname":"CHF","decimals":4,"display_decimals":2},"COMP":{"aclass":"currency","altname":"COMP","decimals":10,"display_decimals":5},"DAI":{"aclass":"currency","altname":"DAI","decimals":10,"display_decimals":5},"DASH":{"aclass":"currency","altname":"DASH","decimals":10,"display_decimals":5},"DOT":{"aclass":"currency","altname":"DOT","decimals":10,"display_decimals":8},"EOS":{"aclass":"currency","altname":"EOS","decimals":10,"display_decimals":5},"EUR.M":{"aclass":"currency","altname":"EUR.M","decimals":4,"display_decimals":4},"GNO":{"aclass":"currency","altname":"GNO","decimals":10,"display_decimals":5},"ICX":{"aclass":"currency","altname":"ICX","decimals":10,"display_decimals":5},"KAVA":{"aclass":"currency","altname":"KAVA","decimals":8,"display_decimals":6},"KFEE":{"aclass":"currency","altname":"FEE","decimals":2,"display_decimals":2},"KNC":{"aclass":"currency","altname":"KNC","decimals":10,"display_decimals":5},"LINK":{"aclass":"currency","altname":"LINK","decimals":10,"display_decimals":5},"LSK":{"aclass":"currency","altname":"LSK","decimals":10,"display_decimals":5},"NANO":{"aclass":"currency","altname":"NANO","decimals":10,"display_decimals":5},"OMG":{"aclass":"currency","altname":"OMG","decimals":10,"display_decimals":5},"OXT":{"aclass":"currency","altname":"OXT","decimals":10,"display_decimals":5},"PAXG":{"aclass":"currency","altname":"PAXG","decimals":10,"display_decimals":5},"QTUM":{"aclass":"currency","altname":"QTUM","decimals":10,"display_decimals":6},"SC":{"aclass":"currency","altname":"SC","decimals":10,"display_decimals":5},"STORJ":{"aclass":"currency","altname":"STORJ","decimals":10,"display_decimals":5},"TRX":{"aclass":"currency","altname":"TRX","decimals":8,"display_decimals":6},"USD.M":{"aclass":"currency","altname":"USD.M","decimals":4,"display_decimals":4},"USDC":{"aclass":"currency","altname":"USDC","decimals":8,"display_decimals":4},"USDT":{"aclass":"currency","altname":"USDT","decimals":8,"display_decimals":4},"WAVES":{"aclass":"currency","altname":"WAVES","decimals":10,"display_decimals":5},"XBT.M":{"aclass":"currency","altname":"XBT.M","decimals":10,"display_decimals":8},"XETC":{"aclass":"currency","altname":"ETC","decimals":10,"display_decimals":5},"XETH":{"aclass":"currency","altname":"ETH","decimals":10,"display_decimals":5},"XLTC":{"aclass":"currency","altname":"LTC","decimals":10,"display_decimals":5},"XMLN":{"aclass":"currency","altname":"MLN","decimals":10,"display_decimals":5},"XREP":{"aclass":"currency","altname":"REP","decimals":10,"display_decimals":5},"XTZ":{"aclass":"currency","altname":"XTZ","decimals":8,"display_decimals":6},"XTZ.S":{"aclass":"currency","altname":"XTZ.S","decimals":8,"display_decimals":6},"XXBT":{"aclass":"currency","altname":"XBT","decimals":10,"display_decimals":5},"XXDG":{"aclass":"currency","altname":"XDG","decimals":8,"display_decimals":2},"XXLM":{"aclass":"currency","altname":"XLM","decimals":8,"display_decimals":5},"XXMR":{"aclass":"currency","altname":"XMR","decimals":10,"display_decimals":5},"XXRP":{"aclass":"currency","altname":"XRP","decimals":8,"display_decimals":5},"XZEC":{"aclass":"currency","altname":"ZEC","decimals":10,"display_decimals":5},"ZAUD":{"aclass":"currency","altname":"AUD","decimals":4,"display_decimals":2},"ZCAD":{"aclass":"currency","altname":"CAD","decimals":4,"display_decimals":2},"ZEUR":{"aclass":"currency","altname":"EUR","decimals":4,"display_decimals":2},"ZGBP":{"aclass":"currency","altname":"GBP","decimals":4,"display_decimals":2},"ZJPY":{"aclass":"currency","altname":"JPY","decimals":2,"display_decimals":0},"ZUSD":{"aclass":"currency","altname":"USD","decimals":4,"display_decimals":2}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Assets
- request:
    body:
      asset: XTZ,XXBT,ZCAD
      end: 1594823533
      nonce: 1594823533003
      start: 0
    headers: {}
    method: POST
    uri: https://api.kraken.com/0/private/Ledgers
  response:
    body:
      string: '{"error":[],"result":{"ledger":{
      "LPNQ5Y-MR4HY-MB2JW2":{"refid":"T5MQPO-PABX3-3KFPJQ","time":1598167578.4361,"type":"trade","aclass":"currency","asset":"XTZ","amount":"-100.00000000","fee":"0.00000000","balance":"0.00000005"},
      "LG4POA-WHGXW-U6AYHU":{"refid":"TDJJHO-NWD7P-Y2XABT","time":1598164726.5621,"type":"trade","aclass":"currency","asset":"XTZ","amount":"100.00000000","fee":"0.00000000","balance":"100.00000005"},
      "L4IXU5-VJHDH-XJKLSS":{"refid":"TFL2CZ-D7SOP-BU43WN","time":1594735628.5604,"type":"trade","aclass":"currency","asset":"XTZ","amount":"-200.00000000","fee":"0.00000000","balance":"0.00000005"},
      "L6QZJX-RBNSS-MUG7NY":{"refid":"TCFWYL-WDSSU-HPS26Q","time":1594701760.9455,"type":"trade","aclass":"currency","asset":"XTZ","amount":"200.00000000","fee":"0.00000000","balance":"200.00000005"},
      "LFDO76-NZGA7-W5R7KO":{"refid":"T2NF52-7CFXN-6HWU6T","time":1594523451.9523,"type":"trade","aclass":"currency","asset":"XTZ","amount":"-200.00000000","fee":"0.00000000","balance":"0.00000005"},
      "L56DXB-JF34I-MWGZCF":{"refid":"TMH7N6-7GWES-76OCND","time":1594520531.2895,"type":"trade","aclass":"currency","asset":"XTZ","amount":"200.00000000","fee":"0.00000000","balance":"200.00000005"},
      "LEU4L5-XNMWM-M7HPPO":{"refid":"TR3MTS-BKF3U-52WF2S","time":1593944001.0674,"type":"trade","aclass":"currency","asset":"XTZ","amount":"-99.99999995","fee":"0.00000000","balance":"0.00000005"},
      "L44M5Y-UOEQN-WYWYDX":{"refid":"TQXYWK-QZVHL-ZKC6YG","time":1593942548.1452,"type":"trade","aclass":"currency","asset":"XTZ","amount":"100.00000000","fee":"0.00000000","balance":"100.00000000"}
      },"count":12}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/Ledgers
- request:
    body:
      asset: XTZ,XXBT,ZCAD
      end: 1594823543
      nonce: 1594823543011
      ofs: 8
      start: 0
    headers: {}
    method: POST
    uri: https://api.kraken.com/0/private/Ledgers
  response:
    body:
      string: '{"error":[],"result":{"ledger":{
      "LVGSSR-NVDUO-PCLQEV":{"refid":"TO3TYF-WHGNX-54F7N3","time":1582943862.5601,"type":"trade","aclass":"currency","asset":"XXBT","amount":"-0.0100000000","fee":"0.0000000000","balance":"0.0300000000"},
      "LSRGBX-D22PK-52F5EC":{"refid":"TO5LQG-NWQ2Y-4AE2H3","time":1582942509.671,"type":"trade","aclass":"currency","asset":"XXBT","amount":"0.0100000000","fee":"0.0000000000","balance":"0.0400000000"},
      "LVUMGN-4MVFJ-MY7D3E":{"refid":"T7HSDJ-DHVF6-434BT2","time":1582890781.7891,"type":"trade","aclass":"currency","asset":"XXBT","amount":"-0.0100000000","fee":"0.0000000000","balance":"0.0300000000"},
      "LBHYMJ-D6E63-RFK42Y":{"refid":"TCL74O-CC7KM-5DDBFS","time":1582888452.3498,"type":"trade","aclass":"currency","asset":"XXBT","amount":"0.0100000000","fee":"0.0000000000","balance":"0.0400000000"}
      },"count":12}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/Ledgers
version: 1
