interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/AssetPairs?pair=XXBTZEUR
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"altname":"XBTEUR","wsname":"XBT\/EUR","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZEUR","lot":"unit","pair_decimals":1,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[2,3,4,5],"leverage_sell":[2,3,4,5],"fees":[[0,0.26],[50000,0.24],[100000,0.22],[250000,0.2],[500000,0.18],[1000000,0.16],[2500000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[50000,0.14],[100000,0.12],[250000,0.1],[500000,0.08],[1000000,0.06],[2500000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/AssetPairs
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["7214.30000","1","1.000"],"b":["7214.20000","4","4.000"],"c":["7214.20000","0.00200000"],"v":["419.90433302","4206.13168828"],"p":["7203.78543","7253.88639"],"t":[2207,19500],"l":["7181.00000","7161.60000"],"h":["7225.80000","7400.00000"],"o":"7225.80000"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Ticker
- request:
    body:
      expiretm: '+15'
      nonce: 1571296310858
      ordertype: limit
      pair: XBTEUR
      price: '10821.4'
      type: sell
      volume: '0.01'
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"sell 0.01000000 XBTEUR @ limit
        10821.4"},"txid":["OQJUIE-TTHJZ-3ULWCE"]}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
- request:
    body:
      nonce: 1571296311324
      trades: false
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{"OQJUIE-TTHJZ-3ULWCE":{"refid":null,"userref":0,"status":"open","opentm":1571296311.0643,"starttm":0,"expiretm":1571296326,"descr":{"pair":"XBTEUR","type":"sell","ordertype":"limit","price":"10821.4","price2":"0","leverage":"none","order":"sell
        0.01000000 XBTEUR @ limit 10821.4","close":""},"vol":"0.01000000","vol_exec":"0.00000000","cost":"0.00000","fee":"0.00000","price":"0.00000","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/OpenOrders
version: 1
