interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/AssetPairs?pair=XXBTZEUR
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"altname":"XBTEUR","wsname":"XBT\/EUR","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZEUR","lot":"unit","pair_decimals":1,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[2,3,4,5],"leverage_sell":[2,3,4,5],"fees":[[0,0.26],[50000,0.24],[100000,0.22],[250000,0.2],[500000,0.18],[1000000,0.16],[2500000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[50000,0.14],[100000,0.12],[250000,0.1],[500000,0.08],[1000000,0.06],[2500000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/AssetPairs
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["8943.90000","5","5.000"],"b":["8943.80000","4","4.000"],"c":["8943.80000","0.09852325"],"v":["941.43031327","4922.48052255"],"p":["8917.23313","8881.57018"],"t":[6235,26443],"l":["8860.00000","8740.00000"],"h":["8956.00000","8956.00000"],"o":"8882.20000"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Ticker?pair=XXBTZEUR
version: 1
