interactions:
- request:
    body: {}
    headers:
    method: POST
    uri: https://api.kraken.com/0/public/Assets
  response:
    body:
      string: '{"error":[],"result":{"ADA":{"aclass":"currency","altname":"ADA","decimals":8,"display_decimals":6},"ATOM":{"aclass":"currency","altname":"ATOM","decimals":8,"display_decimals":6},"BAT":{"aclass":"currency","altname":"BAT","decimals":10,"display_decimals":5},"BCH":{"aclass":"currency","altname":"BCH","decimals":10,"display_decimals":5},"BSV":{"aclass":"currency","altname":"BSV","decimals":10,"display_decimals":5},"DAI":{"aclass":"currency","altname":"DAI","decimals":10,"display_decimals":5},"DASH":{"aclass":"currency","altname":"DASH","decimals":10,"display_decimals":5},"EOS":{"aclass":"currency","altname":"EOS","decimals":10,"display_decimals":5},"GNO":{"aclass":"currency","altname":"GNO","decimals":10,"display_decimals":5},"ICX":{"aclass":"currency","altname":"ICX","decimals":10,"display_decimals":5},"KFEE":{"aclass":"currency","altname":"FEE","decimals":2,"display_decimals":2},"LINK":{"aclass":"currency","altname":"LINK","decimals":10,"display_decimals":5},"OMG":{"aclass":"currency","altname":"OMG","decimals":10,"display_decimals":5},"PAXG":{"aclass":"currency","altname":"PAXG","decimals":10,"display_decimals":5},"QTUM":{"aclass":"currency","altname":"QTUM","decimals":10,"display_decimals":6},"SC":{"aclass":"currency","altname":"SC","decimals":10,"display_decimals":5},"USDT":{"aclass":"currency","altname":"USDT","decimals":8,"display_decimals":4},"WAVES":{"aclass":"currency","altname":"WAVES","decimals":10,"display_decimals":5},"XETC":{"aclass":"currency","altname":"ETC","decimals":10,"display_decimals":5},"XETH":{"aclass":"currency","altname":"ETH","decimals":10,"display_decimals":5},"XLTC":{"aclass":"currency","altname":"LTC","decimals":10,"display_decimals":5},"XMLN":{"aclass":"currency","altname":"MLN","decimals":10,"display_decimals":5},"XREP":{"aclass":"currency","altname":"REP","decimals":10,"display_decimals":5},"XTZ":{"aclass":"currency","altname":"XTZ","decimals":8,"display_decimals":6},"XXBT":{"aclass":"currency","altname":"XBT","decimals":10,"display_decimals":5},"XXDG":{"aclass":"currency","altname":"XDG","decimals":8,"display_decimals":2},"XXLM":{"aclass":"currency","altname":"XLM","decimals":8,"display_decimals":5},"XXMR":{"aclass":"currency","altname":"XMR","decimals":10,"display_decimals":5},"XXRP":{"aclass":"currency","altname":"XRP","decimals":8,"display_decimals":5},"XZEC":{"aclass":"currency","altname":"ZEC","decimals":10,"display_decimals":5},"ZCAD":{"aclass":"currency","altname":"CAD","decimals":4,"display_decimals":2},"ZEUR":{"aclass":"currency","altname":"EUR","decimals":4,"display_decimals":2},"ZGBP":{"aclass":"currency","altname":"GBP","decimals":4,"display_decimals":2},"ZJPY":{"aclass":"currency","altname":"JPY","decimals":2,"display_decimals":0},"ZUSD":{"aclass":"currency","altname":"USD","decimals":4,"display_decimals":2}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Assets
version: 1
