interactions:
- request:
    body:
      nonce: 1576765036948
      trades: false
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{
                 "error": [],
                 "result": {
                   "closed": {
                     "OSFLKN-U4LLK-RVLQI4": {
                       "status": "canceled",
                       "reason": "Out\n        of funds",
                       "opentm": 1576170284.3349,
                       "closetm": 1576170284.3465,
                       "starttm": 0,
                       "expiretm": 0,
                       "descr": {
                         "pair": "XTZEUR",
                         "type": "buy",
                         "ordertype": "market",
                         "price": "0",
                         "price2": "0",
                         "leverage": "none",
                         "order": "buy\n        500.00000000 XTZEUR @ market",
                         "close": ""
                       },
                       "vol": "50.00000000",
                       "vol_exec": "49.09588111",
                       "cost": "774.1894",
                       "fee": "2.0128",
                       "price": "1.5511",
                       "stopprice": "0.000000",
                       "limitprice": "0.000000",
                       "misc": "partial",
                       "oflags": "fciq",
                       "trades": [
                         "TWSXUZ-YBBCM-XFU3FG"
                       ]
                     },
                     "OEES77-MGNR7-HDQLW7": {
                       "status": "canceled",
                       "reason": "User\n        requested",
                       "opentm": 1576069995.8359,
                       "closetm": 1576070068.3454,
                       "starttm": 0,
                       "expiretm": 0,
                       "descr": {
                         "pair": "XTZEUR",
                         "type": "buy",
                         "ordertype": "limit",
                         "price": "1.5350",
                         "price2": "0",
                         "leverage": "none",
                         "order": "buy\n        500.00000000 XTZEUR @ limit 1.5350",
                         "close": ""
                       },
                       "vol": "50.00000000",
                       "vol_exec": "0.00000000",
                       "cost": "0.000000",
                       "fee": "0.000000",
                       "price": "0.000000",
                       "stopprice": "0.000000",
                       "limitprice": "0.000000",
                       "misc": "",
                       "oflags": "fciq"
                     }
                   },
                   "count": 2
                 }
               }'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/ClosedOrders
version: 1
