interactions:
- request:
    body:
      close: null
      expiretm: '0'
      nonce: 1570544880243
      oflags:
      - fcib
      ordertype: market
      pair: XBTEUR
      starttm: '0'
      type: sell
      validate: true
      volume: 0.01
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"sell 0.01000000 XBTEUR @ market"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
version: 1
