interactions:
- request:
    body:
      close: null
      expiretm: '0'
      nonce: 1570545269729
      oflags:
      - fcib
      ordertype: stop-loss
      pair: XBTEUR
      price: '1234'
      starttm: '0'
      type: sell
      validate: true
      volume: 0.01
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"sell 0.01000000 XBTEUR @ stop
        loss 1234.0"}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/AddOrder
version: 1
