interactions:
- request:
    body:
      nonce: 1575386718465
    headers:
    method: POST
    uri: https://api.kraken.com/0/private/Balance
  response:
    body:
      string: '{"error":[],"result":{"ZEUR":"76.2024","XXBT":"0.0300000000","XXRP":"0.00000000","XETH":"0.5000000000","XETC":"50.0000000000","EOS":"50.0000000000","BCH":"0.0250000000","ADA":"65.00000000","XTZ":"10.00000000","BSV":"0.0250000000"}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/Balance
version: 1
