interactions:
- request:
    body:
      nonce: 1570529482745
    headers:
    method: GET
    uri: https://api.kraken.com/0/private/Balance
  response:
    body:
      string: '{"error":[],"result":{"ZEUR":"18.9509","XXBT":"0.0000000000","XXRP":"0.00000000","XETC":"50.0000000000","EOS":"50.0000000000","BCH":"0.0250000000","ADA":"65.00000000","XTZ":"100.00000000","BSV":"0.0250000000"}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/private/Balance
version: 1
