interactions:
- request:
    body:
      asset: XXBT
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Assets
  response:
    body:
      string: '{"error":[],"result":{"XXBT":{"aclass":"currency","altname":"XBT","decimals":10,"display_decimals":5}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Assets
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Assets?asset=XXBT
  response:
    body:
      string: '{"error":[],"result":{"XXBT":{"aclass":"currency","altname":"XBT","decimals":10,"display_decimals":5}}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.kraken.com/0/public/Assets?asset=XXBT
version: 1
